@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Handjet:wght@100..900&display=swap");
body {
  background-image: url(https://images.unsplash.com/photo-1569470451072-68314f596aec?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #001a00;
  font-family: "Handjet", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(130deg, #00ff00, #003300);
  padding: 10px 20px;
  border-bottom: 2px solid #00ff00;
  box-shadow: 0px 4px 15px rgba(0, 255, 0, 0.3);
  height: 80px;
}

header > img {
  height: 80px;
  margin-top: 5px;
  border-radius: 30px;
}

header h1 {
  color: #00ff00;
  letter-spacing: 5px;
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.7);
  font-size: 50px;
}

#episode-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 30px;
  margin-top: 50px;
}

.episode-card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  padding: 10px;
  box-shadow: 0px 4px 15px rgba(0, 255, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.episode-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(0, 255, 0, 0.6);
}

.episode-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.name-container > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.name-container {
  margin: 30px auto;
  height: 40px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 30px;
  padding: 10px;
  top: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  color: #00ff00;
  font-size: 18px;
}

#filter-container h3 {
  margin: 0 0 15px 0;
  font-size: 22px;
  text-align: center;
  color: #00ff00;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

#filter-container select {
  width: 100%;
  padding: 10px;
  border: 2px solid #00ff00;
  border-radius: 8px;
  background: #001a00;
  color: #00ff00;
  font-size: 16px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 255, 0, 0.4);
}

#filter-container:hover {
  background-color: #003300;
  transform: scale(1.05);
}
#btn-regresar {
  padding: 10px 10px;
  background-color: rgb(0, 0, 0);
  border: 2px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
  text-decoration: none;
  color: #00ff00;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s ease-in;
  margin: 30px;
}

#btn-regresar i {
  margin-right: 8px;
}

#btn-regresar:hover {
  background-color: #003300;
  transform: scale(1.03);
}

.episode-card .numero-episodio {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
}

footer {
  background: linear-gradient(135deg, #003300, #00ff00);
  color: #ffffff;
  padding: 1px 20px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 97%;
  height: 50px;
  border-top: 2px solid #00ff00;
  bottom: 0;
}
